.dialog {
  --pui-dialog-margin: 2.5rem;
  --pui-dialog-max-width: 500px;
  --pui-dialog-bg: var(--pui-color-white);
  --pui-dialog-px: var(--pui-space-5);
  --pui-dialog-py: var(--pui-space-5);
  --pui-dialog-padding-elements: var(--pui-space-3);
  --pui-dialog-border-radius: var(--pui-space-1);
  --pui-dialog-overlay-bg-color: rgba(0, 0, 0, 0.4);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: var(--pui-dialog-overlay-bg-color);
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.25s ease,
    transform 0.25s ease,
    visibility 0s linear 0.25s;

  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition-delay: 0s;

    .dialog-card {
      transform: scale(1);
      opacity: 1;
    }
  }

  .dialog-overlay {
    position: relative;
    width: auto;
    margin: var(--pui-dialog-margin);
    pointer-events: none;
    max-width: var(--pui-dialog-max-width);
    margin-right: auto;
    margin-left: auto;
    z-index: 1;
  }

  .dialog-card {
    pointer-events: auto;
    transform: scale(0.97);
    opacity: 0;
    transition:
      transform 0.25s ease,
      opacity 0.25s ease;
  }

  &.dialog-centered .dialog-overlay {
    display: flex;
    align-items: center;
    min-height: calc(100% - var(--pui-dialog-margin) * 2);
  }

  &.dialog-scrollable {
    .dialog-overlay {
      height: calc(100% - var(--pui-dialog-margin) * 2);
    }
    .dialog-card {
      max-height: 100%;
      overflow: hidden;
    }
  }

  .dialog-header,
  .dialog-body,
  .dialog-footer {
    padding-left: var(--pui-dialog-px);
    padding-right: var(--pui-dialog-px);
  }

  .dialog-header {
    padding-top: var(--pui-dialog-py);
    padding-bottom: var(--pui-space-1);

    .btn.is-close {
      --pui-btn-font-size: var(--pui-font-size-7);
      --pui-btn-bg: var(--pui-color-base);
      --pui-btn-color: var(--pui-color-primary);
      --pui-btn-hover-bg: var(--pui-color-primary);
      --pui-btn-border-radius: 9999px;

      position: absolute;
      top: 4px;
      right: 4px;
    }
  }

  .dialog-body {
    padding-top: var(--pui-dialog-py);
    padding-bottom: var(--pui-dialog-padding-elements);
    flex-grow: 1;
    overflow: auto;
  }

  & .dialog-card:has(> .dialog-header):has(> .dialog-body) > .dialog-body {
    padding-top: var(--pui-space-2);
  }

  .dialog-title {
    font-size: var(--pui-font-size-5);
    font-weight: var(--pui-font-weight-bold);
  }

  .dialog-header:has(> .dialog-title + .btn.is-close) > .dialog-title {
    padding-right: 40px;
  }

  .dialog-footer {
    display: flex;
    padding-top: var(--pui-dialog-padding-elements);
    padding-bottom: var(--pui-dialog-padding-elements);
    align-items: center;
    justify-content: flex-end;
    gap: var(--pui-space-2);
  }
}
