@use '../variables/flex.scss' as flex;

.is-flex-row {
  flex-direction: row !important;
}

.is-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-flex-column {
  flex-direction: column !important;
}

.is-flex-wrap {
  flex-wrap: wrap !important;
}

// *****************
// justify-content
// *****************
$justify-content-vars: flex.$justify-content-vars;

@each $value in $justify-content-vars {
  .is-justify-content-#{$value} {
    justify-content: #{$value} !important;
  }
}

// *****************
// align-content
// *****************
$align-content-vars: flex.$align-content-vars;

@each $value in $align-content-vars {
  .is-align-content-#{$value} {
    align-content: #{$value} !important;
  }
}

// *****************
// align-items
// *****************
$align-items-vars: flex.$justify-content-vars;

@each $value in $align-items-vars {
  .is-align-items-#{$value} {
    align-items: #{$value} !important;
  }
}

// *****************
// wrap
// *****************
$flex-wrap: 'nowrap', 'wrap', 'wrap-reverse';

@each $value in $flex-wrap {
  .is-flex-wrap-#{$value} {
    flex-wrap: #{$value} !important;
  }
}

$total-flexs: 6;
@for $i from 1 through $total-flexs {
  .is-flex-#{$i} {
    flex: #{$i};
  }

  .is-flex-grow-#{$i} {
    flex-grow: #{$i};
  }

  .is-flex-shrink-#{$i} {
    flex-shrink: #{$i};
  }
}

// *****************
// COLUMNS
// *****************
.is-row {
  --pui-gap: 0%;
  display: flex;
  flex-wrap: wrap;
}

$flex-columns: flex.$flex-columns;

@for $i from 1 through $flex-columns {
  .is-flex,
  .is-stack,
  .is-row {
    .is-col-#{$i} {
      flex: 0 0 flex.flex-column-size($i);
      max-width: flex.flex-column-size($i);
    }
  }
}
