@use 'sass:list';
@use 'sass:map';
@use 'spaces';
@use 'colors';
@use 'fonts';

@mixin elevation($level, $important: false) {
  @if map.has-key(spaces.$elevations, $level) {
    @if $important {
      box-shadow: map.get(spaces.$elevations, $level) !important;
    } @else {
      box-shadow: map.get(spaces.$elevations, $level);
    }
  } @else {
    @warn "Nivel de elevación #{$level} no definido en \$elevations.";
  }
}

@mixin generateRoot() {
  // Spaces
  @each $name, $value in spaces.$spaces {
    --pui-space-#{$name}: #{$value};
  }

  // Colors
  @each $name, $value in colors.$colors {
    --pui-color-#{$name}: #{$value};
  }

  // UI colors
  @each $name, $value in colors.$ui-colors {
    --pui-ui-color-#{$name}: #{$value};
  }

  // Font size
  @each $name, $value in fonts.$font-size {
    --pui-font-size-#{$name}: #{$value};
  }

  // Font weight
  @each $name, $value in fonts.$font-weight {
    --pui-font-weight-#{$name}: #{$value};
  }

  // GAP
  --pui-gap: 0;

  // Other colors
  --pui-color-base: var(--pui-color-white);
}

@mixin generateDarkRoot() {
  // UI colors
  @each $name, $value in colors.$ui-colors-dark {
    --pui-ui-color-#{$name}: #{$value};
  }
  // Other colors
  --pui-color-base: #1d232a;
}
