@use "../variables/spaces.scss" as spaces;
$grid-columns: 12;

@mixin col-span($cols) {
  grid-column: span $cols;
}

.is-grid {
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);

  @for $i from 1 through $grid-columns {
    & .is-col-#{$i} {
      @include col-span($i);
    }
  }

  // Grid auto rows
  $grid-auto-rows: (
    "auto": auto,
    "min": min-content,
    "max": max-content,
    "fr": minmax(0, 1fr),
  );

  @each $key, $value in $grid-auto-rows {
    &.is-auto-rows-#{$key} {
      grid-auto-rows: $value;
    }
  }

  // Responsive
  @each $breakpoint, $size in spaces.$breakpoints {
    @media (min-width: #{$size}) {
      @for $i from 1 through $grid-columns {
        & .#{$breakpoint}\:is-col-#{$i} {
          @include col-span($i);
        }
      }

      @each $key, $value in $grid-auto-rows {
        &.#{$breakpoint}\:is-auto-rows-#{$key} {
          grid-auto-rows: $value;
        }
      }
    }
  }
}
