@use "../variables/spaces.scss" as spaces;

@each $name, $value in spaces.$spaces {
  // Margins
  .m-#{$name} {
    margin: var(--pui-space-#{$name}) !important;
  }
  .mt-#{$name} {
    margin-top: var(--pui-space-#{$name}) !important;
  }
  .mr-#{$name} {
    margin-right: var(--pui-space-#{$name}) !important;
  }
  .mb-#{$name} {
    margin-bottom: var(--pui-space-#{$name}) !important;
  }
  .ml-#{$name} {
    margin-left: var(--pui-space-#{$name}) !important;
  }
  .mx-#{$name} {
    margin-left: var(--pui-space-#{$name}) !important;
    margin-right: var(--pui-space-#{$name}) !important;
  }
  .my-#{$name} {
    margin-top: var(--pui-space-#{$name}) !important;
    margin-bottom: var(--pui-space-#{$name}) !important;
  }

  // Paddings
  .p-#{$name} {
    padding: var(--pui-space-#{$name}) !important;
  }
  .pt-#{$name} {
    padding-top: var(--pui-space-#{$name}) !important;
  }
  .pr-#{$name} {
    padding-right: var(--pui-space-#{$name}) !important;
  }
  .pb-#{$name} {
    padding-bottom: var(--pui-space-#{$name}) !important;
  }
  .pl-#{$name} {
    padding-left: var(--pui-space-#{$name}) !important;
  }
  .px-#{$name} {
    padding-left: var(--pui-space-#{$name}) !important;
    padding-right: var(--pui-space-#{$name}) !important;
  }
  .py-#{$name} {
    padding-top: var(--pui-space-#{$name}) !important;
    padding-bottom: var(--pui-space-#{$name}) !important;
  }
}

.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
