.table {
  --pui-table-px: var(--pui-space-2);
  --pui-table-py: var(--pui-space-3);
  --pui-table-border: 1px;
  --pui-table-border-header: 2px;
  --pui-table-border-color: var(--pui-ui-color-muted);
  --pui-table-bg-active: #000;

  display: table;
  border-collapse: collapse;

  th,
  td {
    position: relative;
    border: solid 0 var(--pui-table-border-color);
    border-bottom-width: var(--pui-table-border);
    padding: var(--pui-table-py) var(--pui-table-px);
  }

  th {
    border-bottom-width: var(--pui-table-border-header);
  }

  th:not([align]) {
    text-align: left;
  }

  tr:last-child td {
    border-bottom-width: 0;
  }

  &.is-bordered {
    th,
    tr td,
    tr:last-child td {
      border-width: var(--pui-table-border);
    }
  }

  &.is-striped tr:not(.is-active):nth-child(2n) > td::before,
  &.is-hoverable tr:not(.is-active):hover > td::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--pui-table-bg-active);
    z-index: -1;
  }

  &.is-table-color-primary {
    --pui-table-bg-active: var(--pui-color-primary);
  }

  &.is-striped tr:not(.is-active):nth-child(2n) > td::before {
    opacity: 0.04;
  }

  &.is-hoverable tr:not(.is-active):hover > td::before {
    opacity: 0.075;
  }

  &.is-fullwidth {
    width: 100%;
  }

  &.is-condensed {
    --pui-table-px: var(--pui-space-2);
    --pui-table-py: var(--pui-space-1);
  }
}

.table-responsive {
  overflow-x: auto;
  max-width: 100%;
}
