.textarea {
  resize: vertical;
}

.input,
.textarea,
.select {
  --pui-input-px: var(--pui-space-3);
  --pui-input-py: var(--pui-space-2);
  --pui-input-border-color: var(--pui-ui-color-muted);
  --pui-input-border-radius: var(--pui-space-1);
  --pui-input-bg: var(--pui-color-base);

  display: block;
  width: 100%;
  padding: var(--pui-input-py) var(--pui-input-px);
  appearance: none;
  background-color: var(--pui-input-bg);
  background-clip: padding-box;
  border: 1px solid var(--pui-input-border-color);
  border-radius: var(--pui-input-border-radius);
  box-shadow: inset 0 0 var(--pui-input-border-color);
  transition:
    border-color,
    box-shadow 0.2s ease;
  outline: none;
  color: inherit;

  &:active:not(:disabled),
  &:focus:not(:disabled) {
    --pui-input-border-color: var(--pui-color-primary);

    box-shadow: var(--pui-input-border-color) 0 0 0 1px inset;
  }

  &[disabled],
  fieldset[disabled] {
    --pui-input-bg: var(--pui-ui-color-disabled);

    cursor: not-allowed;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.textarea:not([rows]) {
  min-height: 6rem;
}

// INPUT ICONS
.field .control {
  --pui-icon-size: 1rem;
  --pui-input-icon-px: var(--pui-space-2);
  --pui-input-pr: calc(var(--pui-icon-size) + 2 * var(--pui-input-icon-px));

  position: relative;

  &:has(.input__icon:first-child) .input {
    padding-left: var(--pui-input-pr);
  }

  &:has(~ .input__icon:last-child) .input {
    padding-right: var(--pui-input-pr);
  }

  .input:has(~ .input__icon.btn:last-child) {
    --pui-input-pr: calc(var(--pui-icon-size) + 5 * var(--pui-input-icon-px));
  }

  .btn.input__icon {
    --pui-btn-px: var(--pui-space-1);
    --pui-btn-py: var(--pui-space-1);
    --pui-btn-bg: transparent;
    --pui-btn-color: var(--pui-color-text);
    --pui-btn-hover-bg: transparent;
    height: auto;
  }

  .input__icon:first-child {
    left: var(--pui-input-icon-px);
  }

  .input__icon:last-child {
    right: var(--pui-input-icon-px);
  }
}

.input__icon {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
